<h2>공지</h2>
<%# %>
<h2>멀티플레이 서버 목록</h2>
<%= image_tag("pages/multiplays.jpg", alt: "multiplay servers", class: "main_banner") %>
<h3>Minecraft</h3>
<%= link_to image_tag("pages/nachtbeere_minecraft_logo.png", alt: "minecraft server", class: "main_banner"), "/minecraft/about" %>
<h3>Open TTD</h3>
<%= link_to image_tag("pages/nachtbeere_openttd_logo.png", alt: "openttd server", class: "main_banner"), "/multiplay/ottd" %>
<h3>Open RCT</h3>
<%= link_to image_tag("pages/nachtbeere_openrct_logo.png", alt: "openttd server", class: "main_banner"), "/multiplay/orct" %>
