<%= form_for 'reply#write' do |form| %>
  <div class="field">
    <%= form.text_area :content, {class: 'uk-textarea', required: 'required'} %>
  </div>
  <div class="uk-text-right">
    <%= submit_tag "작성", {class: "uk-button uk-button-primary uk-margin-small-bottom"} %>
  </div>
<% end %>