<% breadcrumb :about %>
  <h1 class="uk-article-title">밤딸기 플레이스 방문을 환영합니다!</h1>
  <p style="text-align: center">
    <span class="logo">
      ❖<sup>′</sup>
    </span>
  </p>
  <h2>밤딸기 플레이스는</h2>
  <ul>
    <li>밤딸기 네트워크에서 호스팅 되는 모든 멀티플레이 서비스의 브랜드입니다.</li>
    <li>현업 개발자의 취미활동이기 때문에, 개인 웹 호스팅은 받지 않습니다.</li>
    <li>본 서버에 악의적 목적을 지닌 공격 시도 시, 법으로 처벌을 받습니다.</li>
    <li>운용중인 하위 게임 서비스가 아닌, 밤딸기 플레이스 자체에 대한 기부만 받습니다.</li>
  </ul>
  <h2>서버 현황</h2>
  <div>
    <%= image_tag("pages/nachtbeere_data_center.jpg", alt: "밤딸기 데이터센터의 모습", class: "main_banner") %>
    <p>밤딸기는 LG 세미콘의 72핀 SIMM 128MB 고성능 메모리와, Cyrix 제 486 호환 고성능 CPU로 구동되고 있읍니다.</p>
    <p>관리와 유지보수에는 운영 책임자인 열정적인 젊은이들의 먹고 자는 시간, 그 외를 뺀 나머지가 할당되고 있읍니다.</p>
    <ul>
      <li>밤딸기 플레이스 서버
        <ul>
          <li>Candyapple Cloud VM</li>
        </ul>
      </li>
      <li>밤딸기 웹 서버
        <ul>
          <li>Linode VPS</li>
        </ul>
      </li>
    </ul>
  </div>
  <h2>묻고 답하기</h2>
  <ul>
    <li>
      Q. 밤딸기가 무슨 뜻이죠?
      <ul>
        <li>
          A. 밤딸기는 독일어로 Nachtbeere입니다. 그냥 겉멋 든 이름이죠. 사실 Nyxberry를 쓰고 싶었는데, 이미 있는 도메인이라 그것을 피하려고 머리를 쥐어 짜다보니 나온 단어입니다. Nachtbeere는 실제로 딸기는 아니고 까마중이라는 열매라네요.
        </li>
      </ul>
    </li>
    <li>
      Q. 밤딸기 플레이스는 무슨 뜻이죠?
      <ul>
        <li>
          A. Play's 와 Place의 중의적 표현입니다. 그냥 노는 장소라는 뜻이죠.
        </li>
      </ul>
    </li>
    <li>
      Q. 게임을 하는데 서버가 너무 느려요.
      <ul>
        <li>
          A. 제 계좌로 300만원을 입금하면 빨라집니다. 계좌는 기부 페이지에...
        </li>
        <li>
          A2. 체감 서버 성능은 플레이하는 게임과 클라이언트 사양에 따라 다르기 때문에 개인차가 있을 수 있습니다. 그래도 주어진 서버 환경에서 최대한 퍼포먼스를 뽑을 수 있도록 노력하고 있습니다.
        </li>
      </ul>
    </li>
    <li>
      Q. 왜 굳이 이런 사이트를?
      <ul>
        <li>
          A. 멀티플레이 할 때마다 중구난방으로 서브도메인을 뽑아 쓰다보니, 관리도 잘 안 되고, 같이 하는 사람들도 헷갈려 해서, 남는 VPS에 한곳에 묶을 웹 사이트를 만들게 되었습니다. 무엇보다 이전부터 게임 전용 게시판에 대한 요구도 있었습니다. 그 전까지는 제 개인 사이트에 간단한 게시판만 만들거나, 위키 같은 것을 만들어 사용했는데 이게 보편적으로 접근하기엔 무리가 있던 모양입니다. 이제 이런거 또 만들 일은 없겠죠.
        </li>
      </ul>
    </li>
    <li>
      Q. 전공이 뭐죠?
      <ul>
        <li>
          A. 현업 종사자입니다.
        </li>
      </ul>
    </li>
    <li>
      Q. 사이트가 예쁘네요/구리네요.
      <ul>
        <li>
          A. 밤딸기 팀에 디자이너가 없습니다. 슬픈 현실이죠. 만약 본인이 너무 심심하고, 함께 무급으로 자아를 실현하고 싶은 디자이너라면 참여를 기다리고 있습니다.
        </li>
      </ul>
    </li>
  </ul>
  <h2>이곳을 만든 사람은</h2>
  <ul>
    <li>*NIX 계열 시스템을 사용합니다.</li>
    <li>Emacs보다는 Vim입니다.</li>
    <li>Ruby를 사랑합니다.</li>
    <li>Java보다 Kotlin을 선호합니다.</li>
    <li>LISP의 잠재력을 믿습니다.</li>
    <li>공군 복무 당시 정보통신경연대회 해킹방어부문에 출전했습니다.</li>
    <li>아직도 배울게 많습니다.</li>
  </ul>
