<% content_for :title, "밤딸기 플레이스 - 개발" %>
<% breadcrumb :develop %>
<h1>개발</h1>
<h2>개발에 관하여</h2>
<p>
  이 페이지는 밤딸기에서 현재 개발중, 개발예정, 시험중인 항목들을 표시합니다.
  <br>대부분은 본업을 하지 않는 시간에 진행되므로 개발 진척이 다소 느릴 수 있습니다.
  <br>시험중 항목에는 제 3자 프로그램을 사용한 경우도 포함됩니다.
</p>
<p>
  시험중 항목은 테스트 서버에서 사용 가능합니다.
  <br>개발 완료되어 적용된 항목은 목록에 표시하지 않습니다.
</p>
<h2>Minecraft</h2>
<div>
  <ul>
    <li>시험중
      <ul>
        <li>에메랄드 블록 또는 전용 아이템을 이용한 소규모 구역 보호</li>
      </ul>
      <ul>
        <li>
          한/영 전환이 필요 없는 한국어 채팅
        </li>
      </ul>
    </li>
    <li>개발중
      <ul>
        <li>한/영 전환이 필요 없는 한국어 채팅</li>
      </ul>
      <ul>
        <li>에메랄드 기반의 은행/금융상품 시스템</li>
      </ul>
      <ul>
        <li>재화 지불로 사망시 인벤토리를 보전하는 보험 시스템</li>
      </ul>
    </li>
    <li>개발예정
      <ul>
        <li>새 코드로 작성된 문게이트 시스템</li>
      </ul>
    </li>
    <li>폐기
      <ul>
        <li>명령어를 사용하지 않는 블록 잠금 시스템</li>
      </ul>
    </li>
  </ul>
</div>
<h2>Open TTD</h2>
<div>
  <ul>
    <li>개발 예정
      <ul>
        <li>밤딸기 플레이스 웹 사이트에서 서버 정보 확인</li>
      </ul>
    </li>
  </ul>
</div>
<h2>Open RCT</h2>
<div>
  <ul>
    <li>개발 예정
      <ul>
        <li>밤딸기 플레이스 웹 사이트에서 서버 정보 확인</li>
      </ul>
      <ul>
        <li>OpenRCT 클라이언트의 개인키를 밤딸기 플레이스 회원 정보에 연동</li>
      </ul>
    </li>
  </ul>
</div>
<h2>Project Sundae</h2>
<div>
  <ul>
    <li>개발 예정
      <ul>
        <li>위도와 고도에 기반한 복셀 지형 생성 알고리즘</li>
      </ul>
    </li>
  </ul>
</div>
