<% content_for :title, "밤딸기 플레이스 - 마인크래프트/지도" %>
<% breadcrumb :minecraft_maps %>
<h1>지도</h1>
<iframe src="<%= ADDITIONAL_CONFIG["minecraft_map_url"] %>" style="display:block; min-height:80vw; width:100%;">
  <p>Placeholder text; only shows up if the page DOESN'T render!</p>
</iframe>
