<% breadcrumb :minecraft_connect %>
<h1>접속</h1>
<h2>서버 현황</h2>
<div class="uk-child-width-expand@s uk-text-center uk-grid">
  <div>
    <div class="uk-card uk-card-default uk-card-body">
      <div class="server">
        <div class="mainline">
          <h3>메인 서버</h3>
          <p class="server_url">connect.nachtbeere.net</p>
          <p>Purifier 활용 서버 상태 뭐시기가 들어갈 자리</p>
        </div>
      </div>
    </div>
      </div>
    <div>
    <div class="uk-card uk-card-default uk-card-body">
      <div class="server">
        <div class="nightly">
          <h3>테스트 서버</h3>
          <p class="server_url">nightly.nachtbeere.net</p>
          <p>Purifier 활용 서버 상태 뭐시기가 들어갈 자리</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>
  설치와 접속 방법
</h2>
<p>
  Windows 또는 Mac에서 마인크래프트를 2015년 10월 이후에 설치했다면, 별도로 자바를 설치할 필요가 없습니다.
</p>
