<% breadcrumb :minecraft_rules %>
<h1>규칙</h1>
<h2>공동 규칙</h2>
<ol>
  <li>
    개인의 취미로 운영되는 서버임을 인지합니다.
  </li>
  <li>
    서버를 대상으로 한 악의적 행동은 법으로 처벌 받습니다.
  </li>
  <li>
    파스타 먹고싶다.
  </li>
</ol>

<h2>
  게임 규칙
</h2>
<ol>
  <li>
    유치원 수준 이상의 기본적인 사회 통념이 적용됩니다.
  </li>
  <li>
    타인과 그 활동에 대한 고의적 방해, 테러를 금지합니다.
  </li>
  <li>
    함께 하는 사람이 많을수록 재미가 있고, 밸런스가 맞춰집니다.
  </li>
</ol>

<h2>기타 문의사항</h2>
<ol>
  <li>
    밤딸기 게시판 활용. 비매너 유저에 대한 신고 및 일반 문의 모두 받습니다.
  </li>
  <li>
    사이트의 결함, 게임 서버의 결함을 발견했을 시 관리자 이메일로 1:1 문의 바랍니다.
  </li>
  <li>
    만약 관리자가 서버 모니터링을 하고 있다면, 채팅에 말씀하셔도 처리가 가능합니다.
    <ul>
      <li>
        예) "아니 이게 왜 안 되지" / "어떤 것이 안 되시나요?" / "헉 하늘에서 목소리가 들려"
      </li>
    </ul>
  </li>
</ol>
