<% breadcrumb :multiplays_about %>
<h1>이런 게임도 있습니다</h1>
<h2>밤딸기는?</h2>
<ul>
  <li>
    9년 이상의 시간으로 전문화 된 서버 운영
  </li>
  <li>
    관리자가 관심 있는 게임을 서비스
  </li>
</ul>

<h3>
  서버는?
</h3>
<ul>
  <li>
    밤딸기 플레이스 서버
    <ul>
      <li>
        Candyapple Cloud VM
      </li>
      <li>
        "Candyapple Cloud" 는 밤딸기에서 운영하는 클라우드 서버입니다.
      </li>
    </ul>
  </li>
  <li>
    밤딸기 웹 서버
    <ul>
      <li>
        Linode VPS
      </li>
    </ul>
  </li>
</ul>

<h3>
  방침은?
</h3>
<ul>
  <li>
    24시간 운영이 원칙이나, 정기 시스템 점검 등의 사유로 일시 중단될 수 있습니다.
  </li>
  <li>
    모든 유저는 밤딸기가 개인이 취미로 운영하는 서버임을 명심해야 합니다.
  </li>
</ul>

<h2>서비스 되는 게임</h2>
<h3>Open Transport Tycoon Deluxe</h3>
<%= link_to image_tag("pages/nachtbeere_openttd_logo.png", alt: "openttd server"), "/multiplay/ottd" %>
<h3>Open Roller Coaster Tycoon 2</h3>
<%= link_to image_tag("pages/nachtbeere_openrct_logo.png", alt: "openttd server"), "/multiplay/orct" %>
