<% content_for :title, "밤딸기 플레이스 - 다른 게임들/OpenRCT2" %>
<% breadcrumb :multiplays_orct %>
<h1>모험과 신비의 나라에 오신 것을 환영합니다</h1>
<%= image_tag("pages/nachtbeere_openrct_logo.png", alt: "openttd server", style: "height:auto;width:50%;") %>
<p>
  반갑습니다. 이곳은 아무 걱정이 없는 환상의 나라입니다. 우리에겐 어떤 목표도 없습니다. 당신이 할 일은 밤딸기 세계의 놀이공원 디자이너들이 공동으로 사용하는 이 넓은 공원을 아름답게 꾸미고, 새롭고 재미있는 놀이기구를 만드는 것 뿐입니다. 다른 사람들이 깜짝 놀랄 대단한 것들을 만들어 보세요.
</p>
<div class="uk-child-width-expand@s uk-text-center" uk-grid>
  <div>
    <div class="uk-card uk-card-default uk-card-body">
      <div class="servers">
        <div class="standalone">
          <h3>개장 준비중</h3>
          <p class="server_url">connect.nachtbeere.net</p>
        </div>
      </div>
    </div>
  </div>
</div>
