<% content_for :title, "밤딸기 플레이스 - 다른 게임들/OpenTTD" %>
<% breadcrumb :multiplays_ottd %>
<h1>치열한 자본주의의 세계로 초대합니다</h1>
<%= image_tag("pages/nachtbeere_openttd_logo.png", alt: "openttd server") %>
<p>
  반갑습니다. 당신은 밤딸기 캐피탈의 [project name here] 상품에 가입할 자격이 있습니다. 인터넷 좀 하다가 땡 잡은 것이죠. 이 세계에서 당신은 1950년부터 2050년까지 100년이라는 시간동안 경쟁자들과 싸워 이겨야 합니다. 만약 100년 안에 이기지 못 했다면? 안심하세요. 세계가 끝장나는 2250년까지 총 300년간 언제든지 아무 리스크 없이 다시 시작할 수 있답니다! 까짓거 연습좀 많이 해 보고, 다음 생에 짓밟아 버리면 그만 아니겠어요? 그러니까 아무 부담 없이 사업을 벌여보세요!
</p>
<p>
  어떤 사업을 해야할지 잘 모르겠다면, 아래의 튜토리얼을 잘 읽고 오시라구요.
</p>
<p>
  그럼, 생각이 있다면 언제든지 와서 성공을 노려봅시다!
</p>
<div class="uk-child-width-expand@s uk-text-center" uk-grid>
  <div>
    <div class="uk-card uk-card-default uk-card-body">
      <div class="servers">
        <div class="standalone">
          <h3>개장 준비중</h3>
          <p class="server_url">connect.nachtbeere.net</p>
        </div>
      </div>
    </div>
  </div>
</div>
<h2>게임 도움말</h2>
<h3>시작에 앞서</h3>
<ul>
  <li>
    과도한 빚은 당신을 불행에 빠트릴 수 있습니다.
  </li>
  <li>
    게임 참여 시점과 관계 없이 서버의 시간은 흐릅니다. 2250년 1월에 참가했다면 다음 해 1월에 세계가 재시작 됩니다.
  </li>
  <li>
    서버 부하를 유발하는 플레이 시, 확인 후 영구추방 합니다.
  </li>
</ul>
<h3>서버의 난이도</h3>
<ul>
  <li>
    최대 경쟁자 수(AI) - 3
    <ul>
      <li>
        인간 플레이어를 제외한 AI 플레이어
      </li>
    </ul>
  </li>
  <li>도시 수 - 적음
    <ul>
      <li>
        적당히 사람이 삽니다.
      </li>
    </ul>
  </li>
  <li>산업시설 수 - 보통
    <ul>
      <li>
        적당히 산업시설이 있습니다
      </li>
    </ul>
  </li>
  <li>초기 최고 대출액 - 555,000,000 원
    <ul>
      <li>
        남의 돈으로는 소도 잡아먹죠
      </li>
    </ul>
  </li>
  <li>초기 이자율 - 4%
    <ul>
      <li>
        낮지도 높지도 않습니다
      </li>
    </ul>
  </li>
  <li>차량 운행비용 - 보통
    <ul>
      <li>
        트타의 세계에는 경로운임이 없기에 적당히 듭니다
      </li>
    </ul>
  </li>
  <li>경쟁자의 건설 속도 - 매우 느림
    <ul>
      <li>
        AI라 봐줍니다
      </li>
    </ul>
  </li>
  <li>차량 고장 - 없음
    <ul>
      <li>
        있어봐야 머리만 깨집니다
      </li>
    </ul>
  </li>
  <li>보조금 지급 - 2배 지급
    <ul>
      <li>
        지자체가 돈이 그리 많지 않아요
      </li>
    </ul>
  </li>
  <li>건설 가격 - 보통
    <ul>
      <li>
        적당히 듭니다
      </li>
    </ul>
  </li>
  <li>지형 타입 - 평탄함
    <ul>
      <li>
        적당한 지형입니다
      </li>
      <li>
        512x512 입니다
      </li>
    </ul>
  </li>
  <li>경제 - 불안정함
    <ul>
      <li>
        격변하는 세카이
      </li>
      <li>
        인플레이션이 있습니다
      </li>
    </ul>
  </li>
  <li>열차 회차 - 선로 끝과 역에서의 회차 가능
    <ul>
      <li>
        기관사가 역에서 내린 뒤, 반대 열차로 달려가 움직입니다.
      </li>
    </ul>
  </li>
  <li>재앙 - 없음
    <ul>
      <li>
        UFO 재앙 하나 뿐이라 재미가 없습니다
      </li>
    </ul>
  </li>
</ul>

<h3>튜토리얼</h3>
<p>
  Open TTD는 열차, 자동차, 선박, 항공기 4가지를 이용해 승객과 화물을 운송하는 사업을 하는 게임입니다. 이 과정에서 최대한 많은 운송료를 받아 경쟁자들을 물리치고, 지역의 교통 인프라를 정복하는 것이 최종 목적입니다.
</p>
<p>
  다음은 운송수단별 특징입니다.
</p>
<h4>
  열차
</h4>
<p>
  열차는 OTTD의 꽃이라고 할 수 있습니다. 기본적인 유지비와 차량 구매 비용이 높지만, 한 열차에 차량을 아무리 많이 연결해도 유지비는 열차 한 대로 계산되기 때문에, 화물과 승객을 대량으로 운반할 경우 자동차 여러대를 운용하는 것 보다 오히려 이익을 볼 수 있습니다. 단점은 철도를 따로 부설해야 하고, 신호기 시스템을 익히는 것이 조금 어렵습니다. 또한, 지형의 영향을 많이 받기 때문에, 구식 열차라면 언덕을 만날 때 속도가 크게 줄어들 수 있습니다.
</p>
<p>
  열차는 차량기지와 연결된 철도가 있어야 운행할 수 있습니다.
</p>
<ul>
  <li>
    높은 구매비용
  </li>
  <li>
    높은 수송량
  </li>
  <li>
    높은 유지비
  </li>
  <li>
    빠른 속도
  </li>
  <li>
    지형 영향 많음
  </li>
</ul>

<h4>
  자동차
</h4>
<p>
  자동차는 도시간 도로만 연결한다면 바로 운행이 가능하기 때문에, 적은 비용으로 사업을 시작할 수 있습니다. 도시에 시내버스를 운용한다면 도시의 성장 속도가 빨라지고, 화물 수송시에도 조금씩 자주 실어나르기 때문에 사업체의 수송 등급을 높게 유지할 수 있습니다. 수송 등급이 높을수록 사업체의 생산량도 올라갑니다. 하지만 자동차만 운용한다면 큰 돈이 들어오지 않기 때문에, 결코 성공할 수 없습니다.
</p>
<p>
  자동차는 차량기지와 그에 연결된 도로가 있어야 운행할 수 있습니다.
</p>
<ul>
  <li>
    낮은 구매비용
  </li>
  <li>
    낮은 수송량
  </li>
  <li>
    낮은 유지비
  </li>
  <li>
    느린 속도
  </li>
  <li>
    지형 영향 적음
  </li>
</ul>

<h4>선박</h4>
<p>
  선박은 약간 겉도는 방식입니다. 물에서만 사용이 가능하며, 인공지능이 뛰어나지 않습니다. 선박은 제한된 상황에서 쓸모 있지만, 이것을 주력으로 선택하는 것은 그리 좋은 방법이 아닙니다.
</p>
<p>
  선박은 항구를 건설해야 운행할 수 있습니다.
</p>

<ul>
  <li>
    중간 구매비용
  </li>
  <li>
    중간 수송량
  </li>
  <li>
    중간 유지비
  </li>
  <li>
    중간 속도
  </li>
  <li>
    지형 제한 받음
  </li>
</ul>

<h4>항공기</h4>
<p>
  모든 화물은 얼마나 빨리 목적지까지 도달하느냐에 따라 운송단가가 달라집니다. 때문에 항공기의 빠른 속도는 돈을 긁어 모으기에 효과적인 수단입니다. 하지만 특유의 미친 성능으로 인해 멀티 서버에서는 보통 금지되어 있습니다. 그래도 항공기를 쓰고 싶다면, 너프 수단인 속도 1/2, 1/4가 있지만 빠른 것은 마찬가지입니다. 밤딸기 서버에서는 1/4가 적용되어 있습니다.
</p>
<p>
  항공기는 공항만 건설하면 바로 운행할 수 있습니다.
</p>
<ul>
  <li>
    매우 높은 구매비용
  </li>
  <li>
    중간 수송량
  </li>
  <li>
    높은 유지비
  </li>
  <li>
    매우 빠른 속도
  </li>
  <li>
    지형 영향 없음
  </li>
</ul>
