// Place all the styles related to the oneline controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media(max-width:960px) {
  .uk-width-oneline-username {
    width: 150px;
  }

  .uk-width-oneline-datetime {
    width: 80px !important;
  }
}

.uk-width-oneline-username {
  min-width: 1px;
}

.uk-width-oneline-datetime {
  width: 150px;
}

.uk-comment-header-oneline {
  margin-bottom: 5px;
}

.oneline-image-box {
  border-radius: 18px;
  margin-right: 10px;
  padding: 5px !important;
}

img.oneline-image-box {
  height: 100%;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.link-cover {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}
